.hora{    
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 3px;
    padding: 10px 30px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    margin: 10px 0px;
}

.data{
    display: flex;
    gap: 10px;
    color: #282b32;
}
