nav{    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    position: fixed;
    padding: 30px 5px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
}

header.scrolled {
    background-color: #EAECEE;
}

/* Estado normal (transparente) */
nav.default {
    background: transparent;
    backdrop-filter: none;
}

/* Estado cuando cubre la mitad del header */
nav.scrolled {
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.data{
    display: flex;
    gap: 10px;
}