@property --rojoCereza{
    syntax: "<color>";
    inherits: true;
    initial-value: #D93056;
}

.preloader{
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url(../resources/fondo.png);
    justify-content: center;
    align-items: center;
}