@property --rojoCereza{
    syntax: "<color>";
    inherits: true;
    initial-value: #D93056;
}

@property --azulCielo{
    syntax: "<color>";
    inherits: true;
    initial-value: #4271CD;
}

.loader__container, .loader-screen{
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url(../resources/fondo.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carga{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.loader {
    scale: 3;
    width: 40px;
    aspect-ratio: 1;
    --c: linear-gradient(var(--azulCielo) 0 0);
    --m: radial-gradient(farthest-side,var(--rojoCereza) 92%,#0000);
    background: 
        var(--c),var(--m),
        var(--c),var(--m), 
        var(--c),var(--m);
    background-size: 8px 12px,8px 8px;
    background-repeat: no-repeat;
    animation: l16 1s infinite linear alternate;
}
@keyframes l16 {
    0%,5%   {background-position: 0 50%             ,0 0               ,50% 50%             ,50% 0               ,100% 50%             ,100% 0}
    16.67%  {background-position: 0 50%             ,0 calc(50% - 10px),50% 50%             ,50% 0               ,100% 50%             ,100% 0}
    33.33%  {background-position: 0 calc(50% + 10px),0 50%             ,50% 50%             ,50% 0               ,100% 50%             ,100% 0}
    50%     {background-position: 0 calc(50% + 10px),0 50%             ,50% 50%             ,50% calc(50% - 10px),100% 50%             ,100% 0}
    66.67%  {background-position: 0 calc(50% + 10px),0 50%             ,50% calc(50% + 10px),50% 50%             ,100% 50%             ,100% 0}
    83.33%  {background-position: 0 calc(50% + 10px),0 50%             ,50% calc(50% + 10px),50% 50%             ,100% 50%             ,100% calc(50% - 10px)}
    95%,100%{background-position: 0 calc(50% + 10px),0 50%             ,50% calc(50% + 10px),50% 50%             ,100% calc(50% + 10px),100% 50%}
}