/* COLORES */

@property --rojoCereza{
    syntax: "<color>";
    inherits: true;
    initial-value: #D93056;
}

@property --azulPalido{
    syntax: "<color>";
    inherits: true;
    initial-value: #c4cbe1;
}

@property --azulCielo{
    syntax: "<color>";
    inherits: true;
    initial-value: #4271CD;
}




*{
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
}

.sidebar{
    height: 100vh;
    background-color: white;
    width: 250px;
    margin-right: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid var(--rojoCereza);
    /* box-shadow: 7px 0px 7px rgba(0, 0, 0, 0.3); */
}

.logoSide{
    width: 80%;
    margin-top: 20px;
    padding: 20px 0px;
    text-align: center;
    border-bottom: 1px solid var(--azulPalido);
}
.logoSide img{
    width: 70%;
    transition: all 0.5s;
}

.logoSide img:hover{
    scale: 1.1;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    padding: 20px 0px;
    border-bottom: 1px solid var(--azulPalido);
}

.menu > h5{
    font-weight: 500;
    color: #000;
}

.navInicio, .linkSection{
    display: flex;
    gap: 10px;
    align-items: center;
    transition: all 0.2s;
    color: #7a91ad;
    cursor: pointer;
}

.navInicio h5, .linkSection h5{
    font-weight: 300;
}

.navInicio:hover, .linkSection:hover{
    scale: 1.1;
    transform: translateX(15px);
    gap: 5px;
}

.navInicio:hover .homeIcon,
.linkSection:hover .pageIcon{
    color: var(--rojoCereza);
}

.navInicio:hover h5,
.linkSection:hover h5{
    color: var(--azulCielo);
    font-weight: 500;
}

.linkSection:hover{
    cursor: pointer;
}

/* .linkSection::before{
    content: '';
    height: 100%;
    width: 10px;
    background-color: #D93056;
    left: -21px;
    position: relative;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
} */

/* .linkSection h5{
    font-weight: 300;
} */
